<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <system.webServer>
      <caching enabled="true" enableKernelCache="true">
        <profiles>
          <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
          <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        </profiles>
      </caching>
    </system.webServer>
</configuration>
<!--ProjectGuid: 0C2949A3-875D-4DC8-9584-FF482114B20B-->