@model AudioShopFrontend.Models.User
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
    {
    <meta name="robots" content="nofollow, noindex" />
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li>تغییر کلمه عبور</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-success alert-dismissible fade show" style="width:fit-content;" role="alert" id="successDiv" hidden>
                <p id="successMessage"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorDiv" hidden>
                <p id="errorMessage"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12"></div>
            <div class="col-lg-6 col-md-12">
                <div class="contact_message form">
                    <h3>فرم تغییر کلمه عبور</h3>
                    <form action="AddContactForm">
                        <p>
                            <label> نام کاربری </label>
                            <input name="name" value="@Model.Username" type="text" readonly>
                        </p>
                        <p>
                            <label>کلمه عبور جدید</label>
                            <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="PassPassword" oninput="checkPassword(this.value,3)" autofocus required>
                            <div class="alert alert-warning fade show" role="alert" id="PasswordWarnDiv3" hidden>
                                <p id="PasswordWarnMessage" style="font-weight:bold;">
                                    کلمه عبور می بایست شرایط زیر را داشته باشد :
                                    <ul style="padding-right:1rem;list-style:inherit;">
                                        <li>حداقل شش کاراکتر باشد</li>
                                        <li>شامل عدد باشد</li>
                                        <li>شامل حروف کوچک و بزرگ باشد</li>
                                    </ul>
                                </p>
                            </div>
                        </p>
                        <p>
                            <label>تکرار کلمه عبور</label>
                            <input type="password" id="PassRepeatPassword" required>
                        </p>
                        <button type="submit" onclick="UpdatePassword(event)"> ذخیره</button>
                        <a class="button" href="@Url.Action("Login","Home")">صفحه ورود کاربران</a>
                        <p class="form-messege"></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-12"></div>
        </div>
    </div>
</div>
<!--contact area end-->
@section Scripts
    {
    <script type="text/javascript">
        function UpdatePassword(e) {
            e.preventDefault();
            if ($("#PassPassword").val() == $("#PassRepeatPassword").val()) {
                $.ajax(
                    {
                        url: '@Url.Action("UpdatePassword","Home")',
                        type: 'post',
                        datatype: 'json',
                        data: { NidUser: '@Model.NidUser', Password: $("#PassPassword").val() },
                        success: function (result) {
                            if (result.success) {
                                $("#PassPassword").val('');
                                $("#PassRepeatPassword").val('');
                                $("#successDiv").removeAttr('hidden');
                                $("#successMessage").text(result.message);
                                window.setTimeout(function () {
                                    $("#successDiv").attr('hidden', 'hidden');
                                }, 60000);
                            } else {
                                $("#errorDiv").removeAttr('hidden');
                                $("#errorMessage").text(result.message);
                                window.setTimeout(function () {
                                    $("#errorDiv").attr('hidden', 'hidden');
                                }, 60000);
                            }
                        },
                        error: function () { }
                    });
            } else {
                $("#errorDiv").removeAttr('hidden');
                $("#errorMessage").text('تکرار کلمه عبور با کلمه عبور برابر نمی باشد.');
                window.setTimeout(function () {
                    $("#errorDiv").attr('hidden', 'hidden');
                }, 5000);
            }
        }
    </script>
}
