@model int
@{
    ViewData["Title"] = "HttpError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--error section area start-->
<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h1>@Model</h1>
                    @switch(Model)
                    {
                        case 401:
                            <h2>متاسفیم! دسترسی شما به صفحه مورد نظر غیرمجاز می باشد</h2>
                            <p>
                                سرور برای انجام درخواست به احراز هویت کاربر نیاز دارد
                                <br /> و صفحه مورد نظر از حالت عمومی خارج شده است
                            </p>
                            break;
                        case 404:
                            <h2>متاسفیم! صفحه مورد نظر یافت نشد</h2>
                            <p>
                                صفحه مورد نظر شما
                                <br>حذف شده ، تغییر نام کرده یا به طور موقت در دسترس نیست.
                            </p>
                            break;
                        case 500:
                            <h2>خطای داخلی سرور</h2>
                            <p>
                                مشکلی در سرور به وجود آمده است
                                <br>لطفا مجددا امتحان کنید و یا با پشتیبانی سایت تماس بگیرید.
                            </p>
                            break;
                        case 503:
                            <h2>سرویس از دسترس خارج است</h2>
                            <p>
                                سرور در حال حاضر آماده رسیدگی و پاسخگویی به درخواست شما نیست.
                                <br>لطفا در زمانی دیگر درخواست خود را امتحان کنید.
                            </p>
                            break;
                        default:
                            <h2>خطایی رخ داده است</h2>
                            <p>
                                درخواست شما با وضعیت کد @Model
                                <br>مواجه شده است.لطفا در زمانی دیگر درخواست خود را امتحان کنید
                            </p>
                            break;
                    }
                    <a href="/"> بازگشت به صفحه اصلی </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--error section area end-->

