<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AudioShopFrontend.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <caching enabled="true" enableKernelCache="true">
        <profiles>
          <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
          <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        </profiles>
      </caching>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 0C2949A3-875D-4DC8-9584-FF482114B20B-->